<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RezSamplePlugin</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.rezilla.RezSamplePlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>Rzil</string>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>CFBundleIconFile</key>
	<string>RezillaPlugin.icns</string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>CFPluginNameString</key>
	<string>RezSamplePlugin</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>306B89A8-206E-11DA-8320-000A95B1FF7C</key>
		<string>RezSampleFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>306A0EF3-206E-11DA-8320-000A95B1FF7C</key>
		<array>
			<string>306B89A8-206E-11DA-8320-000A95B1FF7C</string>
		</array>
	</dict>
	<key>RezillaPluginEditTypes</key>
	<array>
		<string>PStr</string>
		<string>STR </string>
		<string>STR#</string>
	</array>
	<key>RezillaPluginRole</key>
	<string>Editor</string>
</dict>
</plist>

